.box h1{
    color: white;
}

.box{
    animation: yasir 2s infinite alternate ease-in-out ;
}
@keyframes yasir {
    0%{
        background-color: aqua;
        
    }
    25%{
        background-color: blueviolet;
        
    }
    75%{
        background-color: yellow;
        
    }
    100%{
        background-color: coral;
        
    }
}